<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="ARENA.P40" value="PUBLIC"/>
    <add key="ARENA.S30" value="STAGE"/>
    <add key="ARENAINHERIT.PUBLIC" value="PUBLIC0"/>
    <add key="ARENA.*" value="PERSONAL"/>
    <add key="Debug Code.PUBLIC" value="FOX"/>
    <add key="Debug Code.PUBLIC0" value="CHICKEN"/>
    <add key="Debug Code.STAGE" value="CAT"/>
    <add key="Debug Code 1" value="WALLOW"/>
    <add key="Debug Code.PERSONAL" value="WHISPER"/>
    <add key="Debug Code.PERSONAL0" value="YELL"/>
  </appSettings>
</configuration>
