<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ARENAINHERIT.TEST-DC" value="TEST" />
    <add key="ARENAINHERIT.TEST-DC-01" value="TEST-DC" />
    <add key="ARENAINHERIT.TEST-DC-02" value="TEST-DC" />
    <add key="ARENA.TESTMACHINE-01" value="TEST-DC-01" />
    <add key="ARENA.TESTMACHINE-02" value="TEST-DC-02" />
    <add key="ARENA.*" value="PERSONAL" />

    <add key="Create Debug File.TEST" value="true" />
    <add key="Create Debug File" value="false" />
    <add key="ConnectionString" value="DataSource=.\SQLEXPRESS"/>
    <add key="ConnectionString.PROD" value="DataSource=PROD-01\SQLEXPRESS"/>
    <add key="ConnectionString.TEST-DC" value="DataSource=TEST\SQLEXPRESS"/>
    <add key="ConnectionString.TEST-DC-01" value="DataSource=TEST-01\SQLEXPRESS"/>
    <add key="ConnectionString.TEST-DC-02" value="DataSource=TEST-02\SQLEXPRESS"/>
  </appSettings>
</configuration>
